/* CSS declarations go here */
body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line path{
    fill: none;
    stroke: steelblue;
    stroke-width: 5px;
}

.subplot {
    clip-path: url(#clip);
}